### Building a Heart Disease Prediction using the Regression Model

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#### Data Collection and Processing

In [2]:
heart_data=pd.read_csv("healthcare-dataset-stroke-data.csv")

In [3]:
heart_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [4]:
heart_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
heart_data.tail()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [6]:
heart_data.shape

(5110, 12)

In [7]:
#getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [8]:
#describle the avg,all by using describle
heart_data.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [9]:
#handling missing values
heart_data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [31]:
heart_data=heart_data.drop('id',axis=1)

In [32]:
mean=heart_data['bmi'].mean()
print(mean)
heart_data['bmi']=heart_data['bmi'].fillna(mean)

28.893236911794663

In [33]:
#checking the distribution of heart_disease variable
heart_data['heart_disease'].value_counts()

heart_disease
0    4834
1     276
Name: count, dtype: int64

In [34]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
numeric_data=label_encoder.fit_transform(heart_data['work_type'])
residencal_values=label_encoder.fit_transform(heart_data['Residence_type'])
smoking_values=label_encoder.fit_transform(heart_data['smoking_status'])
ever_married_values=label_encoder.fit_transform(heart_data['ever_married'])
gender_values=label_encoder.fit_transform(heart_data['gender'])

In [35]:
heart_data['work_type']=numeric_data

In [36]:
heart_data['Residence_type']=residencal_values
heart_data['smoking_status']=smoking_values
heart_data['ever_married']=ever_married_values
heart_data['gender']=gender_values
heart_data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,0,61.0,0,0,1,3,0,202.21,28.893237,2,1
2,1,80.0,0,1,1,2,0,105.92,32.500000,2,1
3,0,49.0,0,0,1,2,1,171.23,34.400000,3,1
4,0,79.0,1,0,1,3,0,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,2,1,83.75,28.893237,2,0
5106,0,81.0,0,0,1,3,1,125.20,40.000000,2,0
5107,0,35.0,0,0,1,3,0,82.99,30.600000,2,0
5108,1,51.0,0,0,1,2,0,166.29,25.600000,1,0
5109,0,44.0,0,0,1,0,1,85.28,26.200000,0,0

### 1---> Defective Health
0 ---> Healthy Health

In [37]:
X=heart_data.drop(columns='stroke',axis=1)
Y=heart_data['stroke']
print(X,Y)

      gender   age  hypertension  heart_disease  ever_married  work_type  \
0          1  67.0             0              1             1          2
1          0  61.0             0              0             1          3
2          1  80.0             0              1             1          2
3          0  49.0             0              0             1          2
4          0  79.0             1              0             1          3
...      ...   ...           ...            ...           ...        ...
5105       0  80.0             1              0             1          2
5106       0  81.0             0              0             1          3
5107       0  35.0             0              0             1          3
5108       1  51.0             0              0             1          2
5109       0  44.0             0              0             1          0

      Residence_type  avg_glucose_level        bmi  smoking_status
0                  1             228.69  36.600000               1
1                  0             202.21  28.893237               2
2                  0             105.92  32.500000               2
3                  1             171.23  34.400000               3
4                  0             174.12  24.000000               2
...              ...                ...        ...             ...
5105               1              83.75  28.893237               2
5106               1             125.20  40.000000               2
5107               0              82.99  30.600000               2
5108               0             166.29  25.600000               1
5109               1              85.28  26.200000               0

[5110 rows x 10 columns] 0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [38]:
#Splitting the data into Training data & Test Data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=3)

In [39]:
print(X_train,X_test,Y_train,Y_test)

      gender   age  hypertension  heart_disease  ever_married  work_type  \
3186       0  68.0             0              0             1          0
3348       0  19.0             0              0             0          2
2313       1  18.0             0              0             0          2
1832       0  45.0             0              0             1          2
1060       0  19.0             0              0             0          2
...      ...   ...           ...            ...           ...        ...
5036       1  56.0             0              0             1          3
5085       0  72.0             0              0             1          2
2316       0  27.0             0              0             1          2
2400       0  33.0             0              0             1          0
4339       0  66.0             0              0             1          2

      Residence_type  avg_glucose_level   bmi  smoking_status
3186               0             215.33  27.0               1
3348               1              79.25  23.6               0
2313               1              60.56  33.0               2
1832               0              76.68  34.8               3
1060               0              96.02  21.9               2
...              ...                ...   ...             ...
5036               0             125.87  24.6               2
5085               1              83.89  33.1               1
2316               1              71.50  40.3               3
2400               0              73.54  36.6               3
4339               0             200.91  27.6               2

[4088 rows x 10 columns]       gender   age  hypertension  heart_disease  ever_married  work_type  \
1435       0  54.0             0              1             1          2
2765       0  79.0             0              0             0          3
3302       1  60.0             0              0             1          2
746        1  31.0             0              0             1          2
2480       1  14.0             0              0             0          4
...      ...   ...           ...            ...           ...        ...
4436       0  78.0             0              0             1          2
3628       0  73.0             1              0             1          2
2037       0  45.0             0              0             1          2
390        1  34.0             0              0             1          2
1910       0   5.0             0              0             0          4

      Residence_type  avg_glucose_level   bmi  smoking_status
1435               1             140.28  37.1               1
2765               1              79.20  32.6               2
3302               1              74.08  35.9               0
746                1             222.21  41.1               3
2480               0             112.22  26.9               0
...              ...                ...   ...             ...
4436               1              89.42  24.1               2
3628               1             110.38  26.3               2
2037               1             107.29  29.6               2
390                1              80.81  33.2               2
1910               0              59.61  17.1               0

[1022 rows x 10 columns] 3186    0
3348    0
2313    0
1832    0
1060    0
       ..
5036    0
5085    0
2316    0
2400    0
4339    0
Name: stroke, Length: 4088, dtype: int64 1435    0
2765    0
3302    0
746     0
2480    0
       ..
4436    0
3628    0
2037    0
390     0
1910    0
Name: stroke, Length: 1022, dtype: int64

In [40]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(4088, 10) (1022, 10) (4088,) (1022,)

### Logistic Regression

In [41]:
#training the Logistic Regression model with training data
print(heart_data)
model=LogisticRegression()
model.fit(X_train,Y_train)

      gender   age  hypertension  heart_disease  ever_married  work_type  \
0          1  67.0             0              1             1          2
1          0  61.0             0              0             1          3
2          1  80.0             0              1             1          2
3          0  49.0             0              0             1          2
4          0  79.0             1              0             1          3
...      ...   ...           ...            ...           ...        ...
5105       0  80.0             1              0             1          2
5106       0  81.0             0              0             1          3
5107       0  35.0             0              0             1          3
5108       1  51.0             0              0             1          2
5109       0  44.0             0              0             1          0

      Residence_type  avg_glucose_level        bmi  smoking_status  stroke
0                  1             228.69  36.600000               1       1
1                  0             202.21  28.893237               2       1
2                  0             105.92  32.500000               2       1
3                  1             171.23  34.400000               3       1
4                  0             174.12  24.000000               2       1
...              ...                ...        ...             ...     ...
5105               1              83.75  28.893237               2       0
5106               1             125.20  40.000000               2       0
5107               0              82.99  30.600000               2       0
5108               0             166.29  25.600000               1       0
5109               1              85.28  26.200000               0       0

[5110 rows x 11 columns]

D:\anconda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

### Model Evaluation
#accuracy on traning data

In [42]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [43]:
print('Accuracy on Training data:',training_data_accuracy)

Accuracy on Training data: 0.9518101761252447

In [44]:
#accuracy score on test data
X_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)
print("Accuracy score on test data:",testing_data_accuracy)

Accuracy score on test data: 0.949119373776908

In [45]:
#this model is overfitting

# Building a Predictive System

In [48]:
input_data=(0,61.0,0,0,1,3,0,202.21,28.893237,2)
import_data_as_numpy_arrays=np.asarray(input_data)

In [49]:
input_data_reshaped=import_data_as_numpy_arrays.reshape(1,-1)
prediction=model.predict(input_data_reshaped)
print(prediction)
if (prediction[0] == 0):
    print("the person does not have a stroke , the person is healthy ")
else:
    print("the person have Heart stroke")

[0]
the person does not have a stroke , the person is healthy

D:\anconda\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(